# 300 State Profiles

## Purpose:
<p>This notebook creates a dataset of profiles for various states present in the input file. Each profile contains various business related metrics for the area.</p>

## Input:
'businessFinal.pkl'
## Output:
'stateProfiles.pkl' & 'stateProfiles.csv' , csv needed for use in python 2

In [1]:
import os
import sys
import pandas as pd
import numpy as np
module_path = os.path.abspath(os.path.join('../../data/..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
%matplotlib inline

## Set-up for creating our State Profiles
First, let's load our dataset of businesses into a dataframe.

In [2]:
businessPrepped = pd.read_pickle('../../data/analysis/businessFinal.pkl')

In [3]:
businessPrepped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174567 entries, 0 to 174566
Data columns (total 11 columns):
business_id             174567 non-null object
name                    174567 non-null object
state                   174566 non-null object
stars                   174567 non-null float64
review_count            174567 non-null int64
is_open                 174567 non-null int64
postal_code             174567 non-null object
categories              174567 non-null object
checkins                174567 non-null float64
tipcount                174567 non-null float64
interactionsWeighted    174567 non-null float64
dtypes: float64(4), int64(2), object(5)
memory usage: 16.0+ MB


Let's remind ourselves of what's in the business dataset, so we know what we'd like to use for our state profile metrics.

In [4]:
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,interactionsWeighted
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,109.685216
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,46.415652
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,53.123477
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,151.415652
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,611.190138

We would like to know the mean rating of open businesses in an area, as well as the mean rating of closed businesses.
<p> Let's define functions to create series of open and closed businesses ratings, which can later be grouped and aggregated by area.

In [5]:

#Returns NaN for closed businesses, and the current star rating for open businesses.
def openStars(row):
    if row['is_open'] == 0: #If business is not open, return NaN. Otherwise, return the rating of the open business.
       return np.nan
    return row['stars']

#Returns NaN for closed businesses, and the current star rating for open businesses.
def closedStars(row):
    if row['is_open'] == 1: # If business is open, return Nan. Otherwise return the rating of the closed business.
       return np.nan
    return row['stars']

Now let's apply these functions, and observe the resulting dataframe.

In [6]:
# axis = 1, indicates that we will iterate over rows. Each row will have openStars performed on it.
#The resulting series will be added to the original dataframe as 'open_stars'.
businessPrepped['open_stars'] = businessPrepped.apply(lambda row : openStars(row), axis=1)

#Similarly, closedStars is performed on the dataframe below.
businessPrepped['closed_stars'] = businessPrepped.apply(lambda row : closedStars(row), axis=1)

businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,interactionsWeighted,open_stars,closed_stars
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,109.685216,4.0,NaN
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,46.415652,3.0,NaN
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,53.123477,1.5,NaN
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,151.415652,NaN,3.0
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,611.190138,3.5,NaN

Similar to the open and closed business ratings above, let's perform a similar task and split the category column into 'openCategories' and 'closedCategories. Each will record the category string of either open or closed businesses.

In [7]:

#Returns Empty String "" for closed businesses, and the current current category for open businesses.
def openCategories(row):
    if row['is_open'] == 0:
       return ""
    return row['categories']

#Returns Empty String "" for closed businesses, and the current current category for open businesses.
def closedCategories(row):
    if row['is_open'] == 1:
       return ""
    return row['categories']

We'll apply these new functions to the dataframe, save the resulting series as new columns. And then observe the results.

In [8]:
# Axis = 1 indicates that we are iterating over rows and not columns
businessPrepped['closed_categories'] = businessPrepped.apply(lambda row : closedCategories(row), axis=1)
businessPrepped['open_categories'] = businessPrepped.apply(lambda row : openCategories(row), axis=1)
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,interactionsWeighted,open_stars,closed_stars,closed_categories,open_categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,109.685216,4.0,NaN,,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,46.415652,3.0,NaN,,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,53.123477,1.5,NaN,,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,151.415652,NaN,3.0,Sporting Goods;Shopping,
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,611.190138,3.5,NaN,,American (New);Nightlife;Bars;Sandwiches;Ameri...

##  Creating our new State profile dataframe.

Let's create State profiles containing the following information;
- State
- Number of businesses
- Number of Open Businesses
- % Businesses Closed
- Avg. Review Count of the businesses in the area.
- Avg. Tip Counts of the businesses
- Avg. Checkins
- Avg. Interactions (A weighted combination of Reviews,Tips and Checkins.)
- Mean Star Rating of Open Businesses
- Mean Star Rating of Closed Businesses
- Standard Deviation of all Star Ratings in each area.
- Count of each open category in each area.
- Count of each closed category in each area.

Let's create a function that will aggregate category columns in different groups.

Categories of a restaurant are stored as strings, delimited by a semi-colon.

We will try add these to a dictionary for the area, which will record the occurences of every local category.

In [9]:
def categoryAgg(categoryColumn):
    areaCategories= {} # Empty Dictionary to fill.
    
    # For each business categories string...
    for value in categoryColumn:
        #Split this string on the semi-colons, and store them in a list.
        categoryList = value.lower().split(";")
        #For each category in this list...
        for category in categoryList:
            #If the category is already in our dictionary, increment the number associated by 1.
            if category in areaCategories:
                areaCategories[category] += 1
            #Else if the category list isn't empty, add this category to our dictionary and instantiate it with a value of 1.
            elif category != "":
                areaCategories[category] = 1
    return areaCategories

<p>Now we'll create a function that will record a dictionary of the number of various chains in each area. It will do this by aggregating the business 'name' column in a group.</p>
<p>A business qualifies as a 'chain' if it is one of the top 10 occurring names which we uncovered in our dataset overview.</p>

In [10]:
#Operates on 'name' column and returns a dictionary counting the number of different chains.
def chainAgg(nameColumn):
    #Self-determined list of chains based on their appearances in dataset.
    chainList = ['"Starbucks"', '"McDonald"\'s','"Subway"', '"Pizza Hut"','"Taco Bell"','"Burger King"','"Walgreens"','"Wendy\'s"',\
                '"The UPS Store"', '"Tim Hortons"']
    
    #Empty Dictionary to record chain occurences. 
    areaChains= {}
    
    #For each name in the column, if it's in our list of chains...
    for name in nameColumn:
        if name in chainList:
            #if the chain is already in the 'areaChains' dictionary, increment the corresponding count.
            if name in areaChains:
                areaChains[name] += 1
            #otherwise add the chain to the dictionary with a value of 1.
            else :
                areaChains[name] = 1
    return areaChains

Now, let's group the businesses by State but also by state to retain this info for each area code.

<p>We'll also aggregate them to get our desired metrics (e.g. 'is_open' will be summed together to find the number of open businesses in each area.)</p>

In [11]:

stateProfileGroups = businessPrepped.groupby(['state']).agg({'business_id':'count', 'is_open':sum,\
                                    'review_count':'mean','checkins':'mean', 'tipcount':'mean','interactionsWeighted':'mean',\
                                    'open_stars':'mean', 'closed_stars':'mean','stars':"std" ,\
                                                'open_categories':categoryAgg,'closed_categories':categoryAgg, 'name':chainAgg})

Now we will convert this group object into a dataframe, we will also reset the 'state' index, making it a column in our dataframe. State code alone will be our index.

In [12]:
stateProfileDf = pd.DataFrame(stateProfileGroups)
stateProfileDf.reset_index(inplace = True)
stateProfileDf.head(20)

,state,business_id,is_open,review_count,checkins,tipcount,interactionsWeighted,open_stars,closed_stars,stars,open_categories,closed_categories,name
0,01,10,10,4.000000,9.000000,1.500000,23.398840,3.700000,NaN,0.788811,"{'restaurants': 10, 'italian': 2, 'pizza': 3, ...",{},{}
1,3,1,1,4.000000,5.000000,0.000000,15.471884,5.000000,NaN,NaN,"{'austrian': 1, 'restaurants': 1, 'beer garden...",{},{}
2,30,1,1,3.000000,0.000000,0.000000,7.853913,3.000000,NaN,NaN,"{'restaurants': 1, 'french': 1}",{},{}
3,6,3,3,3.333333,4.666667,0.666667,15.138551,3.666667,NaN,1.154701,"{'austrian': 1, 'restaurants': 1, 'nightlife':...",{},{}
4,AB,1,1,3.000000,0.000000,0.000000,7.853913,5.000000,NaN,NaN,"{'event planning & services': 1, 'private tuto...",{},{}
5,ABE,3,3,4.000000,12.333333,0.666667,24.550531,4.000000,NaN,0.866025,"{'restaurants': 1, 'coffee & tea': 1, 'food': ...",{},{}
6,AK,1,1,22.000000,14.000000,2.000000,76.831303,2.500000,NaN,NaN,"{'restaurants': 1, 'fast food': 1, 'burgers': 1}",{},{}
7,AL,1,1,10.000000,7.000000,4.000000,43.651593,5.000000,NaN,NaN,"{'hair removal': 1, 'event planning & services...",{},{}
8,AR,2,2,15.000000,4.000000,1.000000,45.887535,3.250000,NaN,2.474874,"{'festivals': 1, 'arts & entertainment': 1, 'h...",{},{}
9,AZ,52214,44045,31.173498,104.974087,6.551519,203.737084,3.762606,3.546028,1.060034,"{'dentists': 1362, 'general dentistry': 1041, ...","{'sporting goods': 125, 'shopping': 1409, 'boo...","{'""The UPS Store""': 99, '""Taco Bell""': 109, '""..."
10,B,1,1,6.000000,7.000000,1.000000,25.325797,2.500000,NaN,NaN,"{'restaurants': 1, 'argentine': 1}",{},{}
11,BW,3118,2746,11.352790,6.754971,0.452534,37.660966,3.812454,3.759409,0.791569,"{'italian': 297, 'restaurants': 1514, 'cafes':...","{'food': 80, 'caterers': 8, 'restaurants': 269...","{'""Burger King""': 13, '""Subway""': 10, '""Starbu..."
12,BY,4,3,3.750000,0.500000,0.000000,10.317391,3.833333,5.000000,1.030776,"{'german': 2, 'french': 1, 'bavarian': 3, 'res...","{'travel services': 1, 'hotels & travel': 1, '...",{}
13,C,28,27,7.214286,18.321429,0.642857,38.891200,3.574074,3.500000,0.690066,"{'argentine': 2, 'steakhouses': 2, 'restaurant...","{'seafood': 1, 'italian': 1, 'restaurants': 1,...","{'""Burger King""': 1}"
14,CA,5,4,6.400000,26.000000,1.400000,46.420173,4.125000,5.000000,0.570088,"{'active life': 1, 'pizza': 1, 'restaurants': ...","{'massage': 1, 'health & medical': 1, 'life co...",{}
15,CHE,143,134,5.083916,1.517483,0.216783,15.394559,3.574627,3.722222,0.851647,"{'art galleries': 1, 'shopping': 27, 'arts & e...","{'active life': 1, 'bowling': 1, 'restaurants'...","{'""Subway""': 1, '""Pizza Hut""': 1, '""Burger Kin..."
16,CMA,2,2,4.500000,4.500000,0.500000,17.589855,3.000000,NaN,0.707107,"{'landmarks & historical buildings': 1, 'publi...",{},{}
17,CO,2,2,3.000000,7.500000,0.500000,16.662898,3.750000,NaN,1.060660,"{'irish': 2, 'bars': 1, 'nightlife': 1, 'resta...",{},{}
18,CS,1,1,3.000000,3.000000,0.000000,10.853913,4.500000,NaN,NaN,"{'hotels & travel': 1, 'hostels': 1}",{},{}
19,DE,1,1,5.000000,0.000000,0.000000,13.089855,4.000000,NaN,NaN,"{'computers': 1, 'shopping': 1, 'mobile phones...",{},{}

We can see that there a lot of states with very few businesses, if we take a closer look we can see that some of them were not expected to be in our database. For example, 'NYK' is North Yorkshire in England.

In [13]:
businessPrepped[businessPrepped['state'] == 'NYK']

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,interactionsWeighted,open_stars,closed_stars,closed_categories,open_categories
1009,qzA-93v2lwf9qnCOPyWiUQ,"""Scarborough Deaf Club""",NYK,4.0,4,1,YO11,Public Services & Government,0.0,0.0,10.471884,4.0,NaN,,Public Services & Government
1792,PjzIBRm4pxV_mivCZtmZlw,"""Duke Of Wellington""",NYK,5.0,3,1,YO21,Hotels & Travel;Event Planning & Services;Hotels,0.0,0.0,7.853913,5.0,NaN,,Hotels & Travel;Event Planning & Services;Hotels
1841,PX9ceQzCEX5AEn73_UlZ2g,"""the coffee bean""",NYK,4.0,5,1,YO12,Food;Coffee & Tea,0.0,0.0,13.089855,4.0,NaN,,Food;Coffee & Tea
5755,Rv7TH2KWTUXpjFPwTTp4Xg,"""Bonnet & Sons""",NYK,3.5,3,1,YO11,Coffee & Tea;Food;Cafes;Restaurants,0.0,1.0,10.471884,3.5,NaN,,Coffee & Tea;Food;Cafes;Restaurants
7447,zIYzpJ70IEgQI_kAZF0a4g,"""Nippy Taxis""",NYK,2.5,3,1,YO11,Hotels & Travel;Transportation;Taxis,0.0,0.0,7.853913,2.5,NaN,,Hotels & Travel;Transportation;Taxis
8692,qFBEXTIBrAsTsAGaMXOTEw,"""Mainline Menswear""",NYK,3.5,3,1,YO11,Shopping;Men's Clothing;Fashion,0.0,0.0,7.853913,3.5,NaN,,Shopping;Men's Clothing;Fashion
9450,Wijq97TO27mhi_OG-xaW-w,"""Golden Grid Restaurant""",NYK,3.5,3,1,YO11,Seafood;Restaurants,1.0,0.0,8.853913,3.5,NaN,,Seafood;Restaurants
10126,zadkJh0PvDYhP8sw0E8hLQ,"""Scarborough Railway Station""",NYK,3.0,3,1,YO11,Train Stations;Hotels & Travel,9.0,0.0,16.853913,3.0,NaN,,Train Stations;Hotels & Travel
10391,2LdSbmZnJJS5DiwvaAp4Yw,"""Saba Thai Restaurant""",NYK,3.5,6,1,nan,Shopping,0.0,0.0,15.707826,3.5,NaN,,Shopping
11981,xcPmvEfUMlgUFfLmrF1tQA,"""Pattisons""",NYK,3.5,3,1,YO12,Shopping;Flowers & Gifts;Florists,0.0,0.0,7.853913,3.5,NaN,,Shopping;Flowers & Gifts;Florists
12879,-wx3Z8TQAB8gQKhDPF7CpA,"""Itis Itis""",NYK,2.0,3,1,YO11,Pubs;Bars;Nightlife,0.0,0.0,7.853913,2.0,NaN,,Pubs;Bars;Nightlife
14242,qsmphm6eyhGon4pHOcaTCA,"""RockStar Tattoo""",NYK,5.0,7,1,YO12,Beauty & Spas;Piercing;Tattoo,2.0,0.0,20.325797,5.0,NaN,,Beauty & Spas;Piercing;Tattoo
16571,R9q2ddnzAvzK4RTBvYoTvQ,"""robin hoods bay to whitby""",NYK,4.0,4,1,nan,Active Life,0.0,0.0,10.471884,4.0,NaN,,Active Life
17903,fOKFU8c2DVuKSCQOx8wsFw,"""Robert's Garden Services""",NYK,4.5,3,1,YO11,Gift Shops;Shopping;Home Services;Flowers & Gi...,0.0,0.0,7.853913,4.5,NaN,,Gift Shops;Shopping;Home Services;Flowers & Gi...
17974,l2M67j_7O0fOJiE28yaREA,"""Station Tea Rooms""",NYK,4.5,3,1,YO13,Restaurants;Coffee & Tea;Cafes;Food,0.0,0.0,7.853913,4.5,NaN,,Restaurants;Coffee & Tea;Cafes;Food
18447,4o0uJ9iuh2D3qiw07rowOg,"""New Tavern""",NYK,3.0,5,1,YO12,Nightlife;Pubs;Bars,0.0,0.0,13.089855,3.0,NaN,,Nightlife;Pubs;Bars
20013,3y5kPTXhLlyG8ZDZy37JpQ,"""Beckett's Coffee Shop""",NYK,5.0,5,1,YO21,Food;Restaurants;Patisserie/Cake Shop;Cafes,4.0,1.0,19.707826,5.0,NaN,,Food;Restaurants;Patisserie/Cake Shop;Cafes
21562,mOgLOq01wZ8MVAGjY7uYYg,"""The Green Room""",NYK,4.5,3,1,YO11,Restaurants,0.0,0.0,7.853913,4.5,NaN,,Restaurants
23625,fspp2HRzbg268BYhbA6OxA,"""McDonald's Restaurants""",NYK,2.5,3,1,YO11,Restaurants;American (Traditional),1.0,0.0,8.853913,2.5,NaN,,Restaurants;American (Traditional)
25157,TwbTw37N1NluGNthAGl59w,"""Crown Spa Health Club""",NYK,4.5,3,1,YO11,Massage;Beauty & Spas;Swimming Pools;Fitness &...,0.0,0.0,7.853913,4.5,NaN,,Massage;Beauty & Spas;Swimming Pools;Fitness &...
25165,U3Ga0n0-JRSslZt_sZfJKQ,"""The Barbican""",NYK,3.5,9,0,YO11,Pubs;Nightlife;Bars,1.0,0.0,24.561739,NaN,3.5,Pubs;Nightlife;Bars,
29623,2hIOkf1KqQpQBBr1FHoKuQ,"""Bryherstones Country Inn""",NYK,4.0,3,1,YO13,Nightlife;Bars;Pubs,0.0,0.0,7.853913,4.0,NaN,,Nightlife;Bars;Pubs
29718,LYgJqrjvk-Orrd-zfl09iA,"""Small Fry Cafe""",NYK,4.5,3,1,YO11,Cafes;Restaurants;Fish & Chips,0.0,0.0,7.853913,4.5,NaN,,Cafes;Restaurants;Fish & Chips
31686,S9Ul4_rNQC7OLufjGZ7_Zg,"""the blue lounge""",NYK,4.0,5,1,YO11,Bars;Nightlife,1.0,0.0,14.089855,4.0,NaN,,Bars;Nightlife
31952,9hiZaQ8ZX1sno7wICZ64ZQ,"""Elizabeth Botham & Sons""",NYK,4.5,3,1,YO21,Food;Coffee & Tea;Tea Rooms;Bakeries,0.0,0.0,7.853913,4.5,NaN,,Food;Coffee & Tea;Tea Rooms;Bakeries
33061,GgPjSs2eBy6gpv2b-e6OrA,"""Subway""",NYK,3.0,4,1,YO11,Food;Fast Food;Food Delivery Services;Restaurants,0.0,0.0,10.471884,3.0,NaN,,Food;Fast Food;Food Delivery Services;Restaurants
33603,FWVNhF2Efq0kPA8sX6ahwg,"""Irton Garden Centre""",NYK,2.5,3,1,YO12,Nurseries & Gardening;Shopping;Home & Garden,0.0,0.0,7.853913,2.5,NaN,,Nurseries & Gardening;Shopping;Home & Garden
35425,YWH-yuxxoygTCMG5T_dNxw,"""Roasters""",NYK,2.0,3,1,YO11,Coffee & Tea;Food;Restaurants,0.0,0.0,7.853913,2.0,NaN,,Coffee & Tea;Food;Restaurants
37216,HCsU0lZBJuZowEtNGV23fA,"""Royal Hotel""",NYK,3.0,5,1,YO11,Venues & Event Spaces;Hotels & Travel;Event Pl...,0.0,0.0,13.089855,3.0,NaN,,Venues & Event Spaces;Hotels & Travel;Event Pl...
38282,OP8P2ipfWaVRQL-XPQNrBA,"""The Denison Arms""",NYK,4.0,8,1,YO13,Bars;Pubs;Nightlife,2.0,0.0,22.943768,4.0,NaN,,Bars;Pubs;Nightlife
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141132,McRRWZwv-ARrlOdFHZKSzw,"""Boro Cars""",NYK,5.0,3,1,YO11,Taxis;Transportation;Hotels & Travel,0.0,0.0,7.853913,5.0,NaN,,Taxis;Transportation;Hotels & Travel
141693,B7SPWN00xDHC3Uo9ASjBDQ,"""Valley Bar""",NYK,5.0,5,1,YO11,Nightlife;Bars;Pubs,1.0,0.0,14.089855,5.0,NaN,,Nightlife;Bars;Pubs
143306,GYAMJdFczYZj61BO34VNWA,"""Whitby Glass""",NYK,5.0,4,1,YO22,Home & Garden;Shopping;Home Decor;Arts & Crafts,0.0,0.0,10.471884,5.0,NaN,,Home & Garden;Shopping;Home Decor;Arts & Crafts
144300,65lsX6xUM8zDG6YKoNn5hA,"""Hayburn Wyke""",NYK,4.0,4,1,YO13,Nightlife;Pubs;Bars,0.0,0.0,10.471884,4.0,NaN,,Nightlife;Pubs;Bars
144443,DeGW_4t7zco50EWiZnKJ9g,"""Newcastle Packet Inn""",NYK,1.5,3,1,YO11,Nightlife;Pubs;Bars,1.0,0.0,8.853913,1.5,NaN,,Nightlife;Pubs;Bars
144588,RUwIL0j-KkNXPh7On52eQw,"""Bagdale Hall Hotel & Restaurant""",NYK,4.0,4,1,YO21,Hotels & Travel;Hotels;Event Planning & Services,0.0,0.0,10.471884,4.0,NaN,,Hotels & Travel;Hotels;Event Planning & Services
146916,9i4ftKXTyyzZqjXxd4E77w,"""Sherlock's Coffee House""",NYK,4.5,4,1,YO21,Food;Desserts;Coffee & Tea,15.0,2.0,30.707826,4.5,NaN,,Food;Desserts;Coffee & Tea
151441,y0m8WqajagGgZXnMEhMzfQ,"""jeremys""",NYK,5.0,3,1,YO12,Restaurants,0.0,0.0,7.853913,5.0,NaN,,Restaurants
152935,Fud53QjU8oIrChEtGUqi8g,"""Coopland & Son Scarborough""",NYK,3.0,3,1,YO11,Bakeries;Food,1.0,0.0,8.853913,3.0,NaN,,Bakeries;Food
154558,y-a_kdw5pRKTvV0dZjqB_w,"""Grand Hotel""",NYK,1.5,3,1,YO11,Event Planning & Services;Hotels;Hotels & Travel,2.0,0.0,9.853913,1.5,NaN,,Event Planning & Services;Hotels;Hotels & Travel
157389,p17Bv8y9vNjtgaO5ysR1zg,"""The Lotus Beauty""",NYK,5.0,3,1,YO12,Waxing;Health & Medical;Skin Care;Hair Removal...,0.0,0.0,7.853913,5.0,NaN,,Waxing;Health & Medical;Skin Care;Hair Removal...
158282,J-9XxZMId2Wwban4h2GOCQ,"""Anvil Inn Sawdon Near Scarborough""",NYK,3.0,3,1,YO13,Food,0.0,0.0,7.853913,3.0,NaN,,Food
158551,Dtl0QeYxKOf14yAPMhoi8w,"""Walker Landray""",NYK,1.0,3,1,YO11,Home Services;Real Estate Services;Real Estate,0.0,0.0,7.853913,1.0,NaN,,Home Services;Real Estate Services;Real Estate
159102,_wDfZSX_Rd1aicN0s6Q6UQ,"""catalogue bargain shop""",NYK,4.5,4,1,YO11,Discount Store;Shopping;Hobby Shops,0.0,0.0,10.471884,4.5,NaN,,Discount Store;Shopping;Hobby Shops
159537,RFQaVHkKsOGQXsbISDl02A,"""Gill Bradley Vehicle Hire""",NYK,5.0,3,1,YO12,Hotels & Travel;Car Rental;Transportation,0.0,0.0,7.853913,5.0,NaN,,Hotels & Travel;Car Rental;Transportation
159581,_Wq-Ei5VKopb--qBHltLjA,"""Magpie Cafe""",NYK,4.5,37,1,YO21,Coffee & Tea;Fish & Chips;Restaurants;Food;Sea...,15.0,1.0,114.482896,4.5,NaN,,Coffee & Tea;Fish & Chips;Restaurants;Food;Sea...
161725,XDCi85OYQd1IHMmsHGzyKg,"""Alleyways Fish & Chips""",NYK,2.0,3,1,YO12,Fish & Chips;Restaurants,0.0,0.0,7.853913,2.0,NaN,,Fish & Chips;Restaurants
164365,-aHY5rfLcL3DGAR5s1KpwQ,"""Sea Life Centre""",NYK,3.5,3,1,YO11,Animal Shelters;Pets,0.0,0.0,7.853913,3.5,NaN,,Animal Shelters;Pets
164379,mMLH2s8vU9xu97HU6r0xsw,"""Justin Chocolatier""",NYK,5.0,5,1,YO22,Candy Stores;Specialty Food;Food;Chocolatiers ...,0.0,0.0,13.089855,5.0,NaN,,Candy Stores;Specialty Food;Food;Chocolatiers ...
167043,dYo5kYQg4PMC6a-Qy3gS7Q,"""Crown Spa Hotel""",NYK,4.0,3,1,YO11,Hotels & Travel;Hotels;Event Planning & Services,9.0,1.0,19.471884,4.0,NaN,,Hotels & Travel;Hotels;Event Planning & Services
167351,3RgEvaRD3ANbgXiwpybovg,"""Da Claudio""",NYK,3.5,5,1,YO11,Italian;Restaurants,0.0,0.0,13.089855,3.5,NaN,,Italian;Restaurants
167702,7avy4RruWTgS0cA6Snkq-Q,"""Olde Traditional Blandscliffe Cafe""",NYK,1.5,3,1,YO11,Event Planning & Services;Hotels;Cafes;Restaur...,0.0,0.0,7.853913,1.5,NaN,,Event Planning & Services;Hotels;Cafes;Restaur...
167939,6sM44QYgFAnpvPHdtJ3smA,"""Doodlepots""",NYK,3.5,3,1,YO21,Arts & Entertainment;Arts & Crafts;Shopping;Ki...,0.0,0.0,7.853913,3.5,NaN,,Arts & Entertainment;Arts & Crafts;Shopping;Ki...
168200,lwyiSy-d04vbSiWjPfRNNQ,"""Capplemans Fish & Chips""",NYK,4.0,6,1,YO12,Restaurants;Fish & Chips,0.0,0.0,15.707826,4.0,NaN,,Restaurants;Fish & Chips
168300,dBAUTAHpsejsMybVyg9itw,"""Whale Bone Arch""",NYK,3.5,3,1,YO21,Public Services & Government;Landmarks & Histo...,2.0,0.0,9.853913,3.5,NaN,,Public Services & Government;Landmarks & Histo...
168801,28LQv_oSDEGtlRWZnLnnDQ,"""La Plaza Pizzeria""",NYK,4.0,4,1,YO12,Pizza;Restaurants,0.0,0.0,10.471884,4.0,NaN,,Pizza;Restaurants
171148,PCgUcbYxCH6afJsYut1lIA,"""Venus Trading""",NYK,4.0,5,1,YO22,Flowers & Gifts;Shopping;Gift Shops,0.0,0.0,13.089855,4.0,NaN,,Flowers & Gifts;Shopping;Gift Shops
171988,0VDb_KdLgsWbIV-pvwGY_w,"""Scarborough Hungry Horse""",NYK,1.5,4,0,YO11,Nightlife;Bars;Food;Pubs;Restaurants,0.0,0.0,10.471884,NaN,1.5,Nightlife;Bars;Food;Pubs;Restaurants,
173095,13hijoKn15lIAOMTuLETHA,"""Resolution Hotel""",NYK,3.5,3,1,YO21,Hotels;Event Planning & Services;Hotels & Travel,0.0,0.0,7.853913,3.5,NaN,,Hotels;Event Planning & Services;Hotels & Travel
173513,CTVzHfy6gtXrD-UzKKSB2A,"""Whitby Folk Weekend""",NYK,4.5,3,1,YO21,Shopping;Music & DVDs;Festivals;Arts & Enterta...,0.0,0.0,7.853913,4.5,NaN,,Shopping;Music & DVDs;Festivals;Arts & Enterta...

On investigation of 'NYK' we can see that the postal codes cover only a small region of the NYK area. As a result of this coupled with the overall small number of businesses, we do not feel this is representative of a state.

<p>We'll assume a similar situation for most states with low numbers of businesses, to avoid these states we'll focus our state study on the US and Canada</p>

Now we'll calculate the percentage of businesses that are closed in each area. <p>This will be calculated by the number of open businesses (currently 'is_open'), divided by the total number of businesses in an area (currently 'business_id').

In [14]:
stateProfileDf['%closed'] = (stateProfileDf['business_id'] - stateProfileDf['is_open']) / stateProfileDf['business_id']

We will now alter the column titles to accurately reflect their contents. We will also rearrange the columns as desired.

In [15]:
stateProfileDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 14 columns):
state                   67 non-null object
business_id             67 non-null int64
is_open                 67 non-null int64
review_count            67 non-null float64
checkins                67 non-null float64
tipcount                67 non-null float64
interactionsWeighted    67 non-null float64
open_stars              65 non-null float64
closed_stars            27 non-null float64
stars                   40 non-null float64
open_categories         67 non-null object
closed_categories       67 non-null object
name                    67 non-null object
%closed                 67 non-null float64
dtypes: float64(8), int64(2), object(4)
memory usage: 7.4+ KB

In [16]:
stateProfileDf.columns=['state','num_businesses','num_open','num_reviews','num_checkins','num_tips','num_interactions'\
                        ,'open_rating','closed_rating',\
                        'std.dev_rating','open_categories','closed_categories','chains','%closed']

#Now Rearrange Columns
stateProfileDf = stateProfileDf[['state', 'num_businesses','num_open','%closed','num_interactions','num_reviews','num_checkins','num_tips',\
                                 'open_rating','closed_rating',\
                             'std.dev_rating','open_categories','closed_categories','chains']]

stateProfileDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 14 columns):
state                67 non-null object
num_businesses       67 non-null int64
num_open             67 non-null int64
%closed              67 non-null float64
num_interactions     67 non-null float64
num_reviews          67 non-null float64
num_checkins         67 non-null float64
num_tips             67 non-null float64
open_rating          65 non-null float64
closed_rating        27 non-null float64
std.dev_rating       40 non-null float64
open_categories      67 non-null object
closed_categories    67 non-null object
chains               67 non-null object
dtypes: float64(8), int64(2), object(4)
memory usage: 7.4+ KB

Let's count the number of chains in each area as well, we can also use this number to calculate the percentage of chains in an area.

<p>First we'll define a function to count the number of chains using the dictionary holding the counts of chains in an area.<p>

In [17]:
def countChains(chainDict):
    #declare an counter to record number of chains in dictionary
    count = 0
    
    #if chain dictionary is empty return 0
    if not chainDict:
        return count
    
    #add each value in the dictionary to the count, these values are the number of specific chain businesses in the area.
    count = sum(chainDict.values())
        
    return count

Now let's apply this function to the 'chains' column of our database, which holds these chain dictionaries.

In [18]:
stateProfileDf['num_chains'] = stateProfileDf['chains'].apply(countChains)

Let's calculate the percentage of businesses that are chains in an area as well.

In [19]:
stateProfileDf['%chains'] = (stateProfileDf['num_chains'] / stateProfileDf['num_businesses'])*100

Let's make sure there's no percentages outside the 0-100 range.

In [20]:
percentageMask = (stateProfileDf['%chains'] < 0) & (stateProfileDf['%chains'] > 100)
stateProfileDf[percentageMask].head()

Empty DataFrame
Columns: [state, num_businesses, num_open, %closed, num_interactions, num_reviews, num_checkins, num_tips, open_rating, closed_rating, std.dev_rating, open_categories, closed_categories, chains, num_chains, %chains]
Index: []

## Review

We can see below that after the first 12 states there is a considerable drop off in the number of businesses in our dataset, we expect that these are unlikely to be intended inclusions.
<p>The original dataset was supposed to cover 11 metropolitan areas, so we had expected to find only 11 states. However South and North Carolina both appear in the top 12, so we assume that they are both intended to be included.</p>

In [21]:
stateProfileDf.sort_values('num_businesses', ascending = False).head(14)

,state,num_businesses,num_open,%closed,num_interactions,num_reviews,num_checkins,num_tips,open_rating,closed_rating,std.dev_rating,open_categories,closed_categories,chains,num_chains,%chains
9,AZ,52214,44045,0.156452,203.737084,31.173498,104.974087,6.551519,3.762606,3.546028,1.060034,"{'dentists': 1362, 'general dentistry': 1041, ...","{'sporting goods': 125, 'shopping': 1409, 'boo...","{'""The UPS Store""': 99, '""Taco Bell""': 109, '""...",1064,2.037768
43,NV,33086,27491,0.169105,391.281489,55.140754,211.120444,13.676298,3.733495,3.611707,1.030425,"{'real estate services': 453, 'real estate': 1...","{'italian': 193, 'restaurants': 2284, 'office ...","{'""Subway""': 151, '""Burger King""': 48, '""Pizza...",633,1.913196
47,ON,30208,24723,0.181574,106.094045,20.996524,41.997782,3.486659,3.421227,3.358979,0.933462,"{'bakeries': 809, 'bagels': 87, 'food': 4820, ...","{'italian': 295, 'french': 90, 'restaurants': ...","{'""Starbucks""': 249, '""Pizza Hut""': 47, '""Subw...",655,2.168300
38,NC,12956,11099,0.143331,147.725217,23.728466,73.450293,4.642714,3.590819,3.469844,1.013534,"{'restaurants': 2924, 'american (traditional)'...","{'home & garden': 35, 'furniture stores': 17, ...","{'""Wendy's""': 39, '""Pizza Hut""': 32, '""Taco Be...",293,2.261500
46,OH,12609,10920,0.133952,110.799835,19.325640,50.748037,3.612658,3.562546,3.408822,0.999437,"{'american (new)': 475, 'nightlife': 998, 'bar...","{'bakeries': 60, 'food': 334, 'restaurants': 1...","{'""Taco Bell""': 44, '""Pizza Hut""': 47, '""Wendy...",343,2.720279
48,PA,10109,8663,0.143041,127.659820,22.732615,57.864180,3.927589,3.621147,3.523513,0.972750,"{'hair stylists': 74, 'hair salons': 293, 'men...","{'breakfast & brunch': 35, 'gluten-free': 5, '...","{'""Pizza Hut""': 24, '""Subway""': 41, '""Taco Bel...",199,1.968543
50,QC,8169,6925,0.152283,87.107396,17.918840,32.985678,2.754315,3.680578,3.553859,0.846419,"{'italian': 335, 'restaurants': 4019, 'mexican...","{'arts & entertainment': 21, 'festivals': 1, '...","{'""Tim Hortons""': 36, '""Starbucks""': 41, '""Piz...",98,1.199657
63,WI,4754,3973,0.164283,121.931394,23.083088,52.731384,3.349600,3.670526,3.480154,0.973218,"{'tires': 71, 'oil change stations': 63, 'auto...","{'convenience stores': 4, 'desserts': 9, 'food...","{'""Walgreens""': 19, '""The UPS Store""': 7, '""St...",100,2.103492
20,EDH,3795,3078,0.188933,62.134891,12.618972,24.549934,1.737549,3.793372,3.743375,0.715964,"{'active life': 101, 'parks': 22, 'local flavo...","{'restaurants': 362, 'food': 182, 'coffee & te...","{'""Subway""': 4, '""Pizza Hut""': 4, '""Starbucks""...",28,0.737813
11,BW,3118,2746,0.119307,37.660966,11.352790,6.754971,0.452534,3.812454,3.759409,0.791569,"{'italian': 297, 'restaurants': 1514, 'cafes':...","{'food': 80, 'caterers': 8, 'restaurants': 269...","{'""Burger King""': 13, '""Subway""': 10, '""Starbu...",31,0.994227
31,IL,1852,1531,0.173326,93.422679,19.642549,36.268359,2.188985,3.499347,3.425234,1.031163,"{'doctors': 18, 'health & medical': 87, 'resta...","{'home cleaning': 2, 'home services': 9, 'wind...","{'""Burger King""': 6, '""Wendy's""': 5, '""Subway""...",50,2.699784
52,SC,679,572,0.157585,89.010849,15.989691,40.187040,2.659794,3.679196,3.420561,1.050345,"{'nail salons': 24, 'beauty & spas': 62, 'tex-...","{'food': 16, 'american (traditional)': 18, 'co...","{'""Taco Bell""': 2, '""Burger King""': 1, '""Walgr...",20,2.945508
35,MLN,208,176,0.153846,45.637031,8.899038,18.110577,1.615385,3.676136,3.828125,0.825236,"{'breakfast & brunch': 3, 'diners': 3, 'restau...","{'restaurants': 19, 'cocktail bars': 2, 'bars'...",{},0,0.000000
29,HLD,179,170,0.050279,27.572355,7.195531,7.184358,0.592179,3.632353,3.555556,0.766374,"{'hair salons': 2, 'beauty & spas': 3, 'hair s...","{'bars': 1, 'pubs': 1, 'nightlife': 1, 'restau...","{'""Burger King""': 1, '""Pizza Hut""': 1, '""Starb...",4,2.234637

We'll take a selection of the top 12 states in terms of number of businesses.

In [22]:
stateProfileSelection = stateProfileDf.sort_values('num_businesses', ascending = False).head(12)

Now we'll review our dataframe one last time before saving it.

In [23]:
stateProfileSelection.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 9 to 52
Data columns (total 16 columns):
state                12 non-null object
num_businesses       12 non-null int64
num_open             12 non-null int64
%closed              12 non-null float64
num_interactions     12 non-null float64
num_reviews          12 non-null float64
num_checkins         12 non-null float64
num_tips             12 non-null float64
open_rating          12 non-null float64
closed_rating        12 non-null float64
std.dev_rating       12 non-null float64
open_categories      12 non-null object
closed_categories    12 non-null object
chains               12 non-null object
num_chains           12 non-null int64
%chains              12 non-null float64
dtypes: float64(9), int64(3), object(4)
memory usage: 1.6+ KB

In [24]:
stateProfileSelection.to_pickle('../../data/analysis/stateProfiles.pkl')
stateProfileSelection.to_csv('../../data/analysis/stateProfiles.csv')