In [4]:
import os
import sys
import pandas as pd
import numpy as np
module_path = os.path.abspath(os.path.join('../../data/..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
%matplotlib inline

In [5]:
businessPrepped = pd.read_pickle('../../data/prep/businessPrepped.pkl')

In [6]:
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0

In [7]:

#Returns NaN for closed businesses, and the current star rating for open businesses.
def openStars(row):
    if row['is_open'] == 0:
       return np.nan
    return row['stars']

def closedStars(row):
    if row['is_open'] == 1:
       return np.nan
    return row['stars']

In [8]:
#businessPrepped['stars'] = businessPrepped['stars'].astype(float)
businessPrepped['open_stars'] = businessPrepped.apply(lambda row : openStars(row), axis=1)
businessPrepped['closed_stars'] = businessPrepped.apply(lambda row : closedStars(row), axis=1)
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,open_stars,closed_stars
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,4.0,NaN
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,3.0,NaN
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,1.5,NaN
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,NaN,3.0
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,3.5,NaN

In [9]:

#Returns "" for closed businesses, and the current current category for open businesses.
def openCategories(row):
    if row['is_open'] == 0:
       return ""
    return row['categories']

def closedCategories(row):
    if row['is_open'] == 1:
       return ""
    return row['categories']

In [10]:
businessPrepped['closed_categories'] = businessPrepped.apply(lambda row : closedCategories(row), axis=1)
businessPrepped['open_categories'] = businessPrepped.apply(lambda row : openCategories(row), axis=1)
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,open_stars,closed_stars,closed_categories,open_categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,4.0,NaN,,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,3.0,NaN,,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,1.5,NaN,,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,NaN,3.0,Sporting Goods;Shopping,
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,3.5,NaN,,American (New);Nightlife;Bars;Sandwiches;Ameri...

Let's try create area profiles; #businesses, #open, #reviews, avg. stars, avg. starsOpen,category dictionary

starsOpen : Average Stars of Open Businesses in an area.

In [11]:
def categoryAgg(categoryColumn):
    areaCategories= {}
    for value in categoryColumn:
        categoryList = value.lower().split(";")
        for category in categoryList:
            if category in areaCategories:
                areaCategories[category] += 1
            elif category != "":
                areaCategories[category] = 1
    return areaCategories

In [12]:
#Operates on 'name' column and returns a dictionary counting the number of different chains.
def chainAgg(chainColumn):
    #Self-determined list of chains based on their appearances in dataset.
    chainList = ['"Starbucks"', '"McDonald"\'s','"Subway"', '"Pizza Hut"','"Taco Bell"','"Burger King"','"Walgreens"','"Wendy\'s"',\
                '"The UPS Store"', '"Tim Hortons"']
    areaChains= {}
    for chain in chainColumn:
        if chain in chainList:
            if chain in areaChains:
                areaChains[chain] += 1
            else :
                areaChains[chain] = 1
    return areaChains

In [23]:
#make second stars column for std. deviation of ratings
businessPrepped['std.dev_stars'] = businessPrepped['stars']

zipProfileGroups = businessPrepped.groupby(['postal_code', 'state']).agg({'business_id':'count', 'is_open':sum, 'review_count':'mean',\
                                                               'checkins':'mean', 'tipcount':'mean',\
                                                               'open_stars':'mean', 'closed_stars':'mean',\
                                                              'std.dev_stars':"std" , 'open_categories':categoryAgg, \
                                              'closed_categories':categoryAgg, 'name':chainAgg})

In [30]:
zipProfileDf = pd.DataFrame(zipProfileGroups)
zipProfileDf.reset_index(level = 1, inplace = True)
zipProfileDf.head(3)

,postal_code,state,business_id,is_open,review_count,checkins,tipcount,open_stars,closed_stars,std.dev_stars,open_categories,closed_categories,name
0,02224,OH,1,1,7.0,13.0,0.0,2.50,NaN,NaN,"{'restaurants': 1, 'fast food': 1, 'burgers': 1}",{},{}
1,05440,VT,2,2,4.0,2.5,1.0,4.25,NaN,1.06066,"{'bed & breakfast': 1, 'hotels & travel': 1, '...",{},{}
2,05452,PA,1,1,49.0,1.0,7.0,4.00,NaN,NaN,"{'restaurants': 1, 'cafes': 1, 'delis': 1}",{},{}

In [32]:
zipProfileDf['%closed'] = (zipProfileDf['business_id'] - zipProfileDf['is_open']) / zipProfileDf['business_id']

zipProfileDf[zipProfileDf['business_id'] > 20].sort_values('%closed', ascending = False).head(1)

,postal_code,state,business_id,is_open,review_count,checkins,tipcount,open_stars,closed_stars,std.dev_stars,open_categories,closed_categories,name,%closed
133,15289,PA,23,7,36.173913,90.652174,5.956522,3.642857,3.5,0.76742,"{'museums': 1, 'colleges & universities': 2, '...","{'sandwiches': 1, 'restaurants': 13, 'bakeries...",{},0.695652

We will now alter the column titles to accurately reflect their contents. We will also rearrange the columns as desired.

In [35]:
zipProfileDf.columns=['ZIP','state','num_businesses','num_open','num_reviews','num_checkins','num_tips','open_stars','closed_stars','std.dev_stars',\
                      'open_categories','closed_categories','chains','%closed']

#Now Rearrange Columns
zipProfileDf = zipProfileDf[['state', 'num_businesses','num_open','%closed','num_reviews','num_checkins','num_tips','open_stars','closed_stars',\
                             'std.dev_stars','open_categories','closed_categories','chains']]

zipProfileDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1536 entries, 0 to 1535
Data columns (total 13 columns):
state                1536 non-null object
num_businesses       1536 non-null int64
num_open             1536 non-null int64
%closed              1536 non-null float64
num_reviews          1536 non-null float64
num_checkins         1536 non-null float64
num_tips             1536 non-null float64
open_stars           1498 non-null float64
closed_stars         939 non-null float64
std.dev_stars        1198 non-null float64
open_categories      1536 non-null object
closed_categories    1536 non-null object
chains               1536 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 156.1+ KB

In [37]:
zipProfileDf.to_pickle('../../data/analysis/ZIPprofiles.pkl')
zipProfileDf.to_csv('../../data/analysis/ZIPprofiles.csv')