In [ ]:
import os
import sys
import pandas as pd
import numpy as np
module_path = os.path.abspath(os.path.join('../../data/..'))
if module_path not in sys.path:
    sys.path.append(module_path)
    
%matplotlib inline

In [2]:
businessPrepped = pd.read_pickle('../../data/prep/businessPrepped.pkl')

In [3]:
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0

In [4]:

#Returns NaN for closed businesses, and the current star rating for open businesses.
def openStars(row):
    if row['is_open'] == 0:
       return np.nan
    return row['stars']

def closedStars(row):
    if row['is_open'] == 1:
       return np.nan
    return row['stars']

In [5]:
#businessPrepped['stars'] = businessPrepped['stars'].astype(float)
businessPrepped['open_stars'] = businessPrepped.apply(lambda row : openStars(row), axis=1)
businessPrepped['closed_stars'] = businessPrepped.apply(lambda row : closedStars(row), axis=1)
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,open_stars,closed_stars
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,4.0,NaN
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,3.0,NaN
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,1.5,NaN
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,NaN,3.0
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,3.5,NaN

In [6]:

#Returns "" for closed businesses, and the current current category for open businesses.
def openCategories(row):
    if row['is_open'] == 0:
       return ""
    return row['categories']

def closedCategories(row):
    if row['is_open'] == 1:
       return ""
    return row['categories']

In [7]:
businessPrepped['closed_categories'] = businessPrepped.apply(lambda row : closedCategories(row), axis=1)
businessPrepped['open_categories'] = businessPrepped.apply(lambda row : openCategories(row), axis=1)
businessPrepped.head()

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,open_stars,closed_stars,closed_categories,open_categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",AZ,4.0,22,1,85044,Dentists;General Dentistry;Health & Medical;Or...,39.0,5.0,4.0,NaN,,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",PA,3.0,11,1,15317,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...,15.0,1.0,3.0,NaN,,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...
2,KQPW8lFf1y5BT2MxiSZ3QA,"""Western Motor Vehicle""",AZ,1.5,18,1,85017,Departments of Motor Vehicles;Public Services ...,6.0,0.0,1.5,NaN,,Departments of Motor Vehicles;Public Services ...
3,8DShNS-LuFqpEWIp0HxijA,"""Sports Authority""",AZ,3.0,9,0,85282,Sporting Goods;Shopping,120.0,3.0,NaN,3.0,Sporting Goods;Shopping,
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",OH,3.5,116,1,44221,American (New);Nightlife;Bars;Sandwiches;Ameri...,263.0,17.0,3.5,NaN,,American (New);Nightlife;Bars;Sandwiches;Ameri...

Let's try create area profiles; #businesses, #open, #reviews, avg. stars, avg. starsOpen,category dictionary

starsOpen : Average Stars of Open Businesses in an area.

In [8]:
def categoryAgg(categoryColumn):
    areaCategories= {}
    for value in categoryColumn:
        categoryList = value.lower().split(";")
        for category in categoryList:
            if category in areaCategories:
                areaCategories[category] += 1
            elif category != "":
                areaCategories[category] = 1
    return areaCategories

In [9]:
#Operates on 'name' column and returns a dictionary counting the number of different chains.
def chainAgg(chainColumn):
    #Self-determined list of chains based on their appearances in dataset.
    chainList = ['"Starbucks"', '"McDonald"\'s','"Subway"', '"Pizza Hut"','"Taco Bell"','"Burger King"','"Walgreens"','"Wendy\'s"',\
                '"The UPS Store"', '"Tim Hortons"']
    areaChains= {}
    for chain in chainColumn:
        if chain in chainList:
            if chain in areaChains:
                areaChains[chain] += 1
            else :
                areaChains[chain] = 1
    return areaChains

In [10]:
#make second stars column for std. deviation of ratings
businessPrepped['std.dev_stars'] = businessPrepped['stars']

stateProfileGroups = businessPrepped.groupby('state').agg({'business_id':'count', 'is_open':sum, 'review_count':'mean',\
                                                               'checkins':'mean', 'tipcount':'mean',\
                                                               'open_stars':'mean', 'closed_stars':'mean',\
                                                              'std.dev_stars':"std" , 'open_categories':categoryAgg, \
                                              'closed_categories':categoryAgg, 'name':chainAgg})

Let's transfer these groups into a dataframe.

In [13]:
stateProfileDf = pd.DataFrame(stateProfileGroups)
stateProfileDf.reset_index(inplace = True)
stateProfileDf.head(100)

,state,business_id,is_open,review_count,checkins,tipcount,open_stars,closed_stars,std.dev_stars,open_categories,closed_categories,name
0,01,10,10,4.000000,9.000000,1.500000,3.700000,NaN,0.788811,"{'restaurants': 10, 'italian': 2, 'pizza': 3, ...",{},{}
1,3,1,1,4.000000,5.000000,0.000000,5.000000,NaN,NaN,"{'austrian': 1, 'restaurants': 1, 'beer garden...",{},{}
2,30,1,1,3.000000,0.000000,0.000000,3.000000,NaN,NaN,"{'restaurants': 1, 'french': 1}",{},{}
3,6,3,3,3.333333,4.666667,0.666667,3.666667,NaN,1.154701,"{'austrian': 1, 'restaurants': 1, 'nightlife':...",{},{}
4,AB,1,1,3.000000,0.000000,0.000000,5.000000,NaN,NaN,"{'event planning & services': 1, 'private tuto...",{},{}
5,ABE,3,3,4.000000,12.333333,0.666667,4.000000,NaN,0.866025,"{'restaurants': 1, 'coffee & tea': 1, 'food': ...",{},{}
6,AK,1,1,22.000000,14.000000,2.000000,2.500000,NaN,NaN,"{'restaurants': 1, 'fast food': 1, 'burgers': 1}",{},{}
7,AL,1,1,10.000000,7.000000,4.000000,5.000000,NaN,NaN,"{'hair removal': 1, 'event planning & services...",{},{}
8,AR,2,2,15.000000,4.000000,1.000000,3.250000,NaN,2.474874,"{'festivals': 1, 'arts & entertainment': 1, 'h...",{},{}
9,AZ,52214,44045,31.173498,104.974087,6.551519,3.762606,3.546028,1.060034,"{'dentists': 1362, 'general dentistry': 1041, ...","{'sporting goods': 125, 'shopping': 1409, 'boo...","{'""The UPS Store""': 99, '""Taco Bell""': 109, '""..."
10,B,1,1,6.000000,7.000000,1.000000,2.500000,NaN,NaN,"{'restaurants': 1, 'argentine': 1}",{},{}
11,BW,3118,2746,11.352790,6.754971,0.452534,3.812454,3.759409,0.791569,"{'italian': 297, 'restaurants': 1514, 'cafes':...","{'food': 80, 'caterers': 8, 'restaurants': 269...","{'""Burger King""': 13, '""Subway""': 10, '""Starbu..."
12,BY,4,3,3.750000,0.500000,0.000000,3.833333,5.000000,1.030776,"{'german': 2, 'french': 1, 'bavarian': 3, 'res...","{'travel services': 1, 'hotels & travel': 1, '...",{}
13,C,28,27,7.214286,18.321429,0.642857,3.574074,3.500000,0.690066,"{'argentine': 2, 'steakhouses': 2, 'restaurant...","{'seafood': 1, 'italian': 1, 'restaurants': 1,...","{'""Burger King""': 1}"
14,CA,5,4,6.400000,26.000000,1.400000,4.125000,5.000000,0.570088,"{'active life': 1, 'pizza': 1, 'restaurants': ...","{'massage': 1, 'health & medical': 1, 'life co...",{}
15,CHE,143,134,5.083916,1.517483,0.216783,3.574627,3.722222,0.851647,"{'art galleries': 1, 'shopping': 27, 'arts & e...","{'active life': 1, 'bowling': 1, 'restaurants'...","{'""Subway""': 1, '""Pizza Hut""': 1, '""Burger Kin..."
16,CMA,2,2,4.500000,4.500000,0.500000,3.000000,NaN,0.707107,"{'landmarks & historical buildings': 1, 'publi...",{},{}
17,CO,2,2,3.000000,7.500000,0.500000,3.750000,NaN,1.060660,"{'irish': 2, 'bars': 1, 'nightlife': 1, 'resta...",{},{}
18,CS,1,1,3.000000,3.000000,0.000000,4.500000,NaN,NaN,"{'hotels & travel': 1, 'hostels': 1}",{},{}
19,DE,1,1,5.000000,0.000000,0.000000,4.000000,NaN,NaN,"{'computers': 1, 'shopping': 1, 'mobile phones...",{},{}
20,EDH,3795,3078,12.618972,24.549934,1.737549,3.793372,3.743375,0.715964,"{'active life': 101, 'parks': 22, 'local flavo...","{'restaurants': 362, 'food': 182, 'coffee & te...","{'""Subway""': 4, '""Pizza Hut""': 4, '""Starbucks""..."
21,ELN,47,40,5.021277,6.382979,0.744681,3.800000,3.857143,0.718945,"{'nightlife': 5, 'pubs': 5, 'bars': 5, 'specia...","{'bakeries': 1, 'food': 1, 'coffee & tea': 1, ...",{}
22,ESX,12,11,4.666667,8.083333,0.666667,4.136364,3.500000,0.596708,"{'pubs': 4, 'bars': 4, 'nightlife': 4, 'bakeri...","{'burgers': 1, 'restaurants': 1}",{}
23,FAL,1,1,11.000000,8.000000,3.000000,4.000000,NaN,NaN,"{'arts & entertainment': 1, 'local flavor': 1,...",{},{}
24,FIF,85,82,4.258824,2.458824,0.305882,3.597561,2.500000,0.874274,"{'shopping': 7, 'home & garden': 3, 'furniture...","{'food': 1, 'grocery': 1, 'dance clubs': 1, 'n...","{'""Pizza Hut""': 1}"
25,FL,1,1,557.000000,240.000000,50.000000,1.500000,NaN,NaN,"{'car rental': 1, 'hotels & travel': 1}",{},{}
26,FLN,2,2,4.500000,0.500000,0.000000,4.250000,NaN,0.353553,"{'food': 1, 'grocery': 1, 'skating rinks': 1, ...",{},{}
27,GA,1,1,3.000000,0.000000,0.000000,5.000000,NaN,NaN,"{'home services': 1, 'plumbing': 1}",{},{}
28,GLG,3,3,27.333333,41.333333,2.000000,4.000000,NaN,1.000000,"{'juice bars & smoothies': 1, 'food delivery s...",{},{}
29,HLD,179,170,7.195531,7.184358,0.592179,3.632353,3.555556,0.766374,"{'hair salons': 2, 'beauty & spas': 3, 'hair s...","{'bars': 1, 'pubs': 1, 'nightlife': 1, 'restau...","{'""Burger King""': 1, '""Pizza Hut""': 1, '""Starb..."
...,...,...,...,...,...,...,...,...,...,...,...,...
37,MT,1,0,12.000000,10.000000,0.000000,NaN,3.000000,NaN,{},"{'home decor': 1, 'arts & crafts': 1, 'shoppin...",{}
38,NC,12956,11099,23.728466,73.450293,4.642714,3.590819,3.469844,1.013534,"{'restaurants': 2924, 'american (traditional)'...","{'home & garden': 35, 'furniture stores': 17, ...","{'""Wendy's""': 39, '""Pizza Hut""': 32, '""Taco Be..."
39,NE,1,1,4.000000,1.000000,1.000000,4.000000,NaN,NaN,"{'lawyers': 1, 'divorce & family law': 1, 'pro...",{},{}
40,NI,10,7,7.600000,25.900000,0.400000,3.714286,3.500000,0.529675,"{'restaurants': 6, 'greek': 1, 'german': 2, 's...","{'food': 1, 'backshop': 1, 'german': 1, 'resta...",{}
41,NLK,1,1,3.000000,4.000000,1.000000,3.500000,NaN,NaN,"{'nightlife': 1, 'bars': 1, 'pubs': 1}",{},{}
42,NTH,2,2,10.500000,7.000000,0.500000,3.500000,NaN,2.121320,"{'nightlife': 2, 'festivals': 1, 'music venues...",{},{}
43,NV,33086,27491,55.140754,211.120444,13.676298,3.733495,3.611707,1.030425,"{'real estate services': 453, 'real estate': 1...","{'italian': 193, 'restaurants': 2284, 'office ...","{'""Subway""': 151, '""Burger King""': 48, '""Pizza..."
44,NY,18,18,7.555556,7.222222,0.666667,3.194444,NaN,1.202190,"{'bagels': 1, 'donuts': 1, 'food': 4, 'coffee ...",{},{}
45,NYK,152,145,4.822368,1.460526,0.098684,3.696552,3.500000,0.934640,"{'public services & government': 6, 'hotels & ...","{'pubs': 3, 'nightlife': 3, 'bars': 3, 'britis...","{'""Subway""': 1}"
46,OH,12609,10920,19.325640,50.748037,3.612658,3.562546,3.408822,0.999437,"{'american (new)': 475, 'nightlife': 998, 'bar...","{'bakeries': 60, 'food': 334, 'restaurants': 1...","{'""Taco Bell""': 44, '""Pizza Hut""': 47, '""Wendy..."
47,ON,30208,24723,20.996524,41.997782,3.486659,3.421227,3.358979,0.933462,"{'bakeries': 809, 'bagels': 87, 'food': 4820, ...","{'italian': 295, 'french': 90, 'restaurants': ...","{'""Starbucks""': 249, '""Pizza Hut""': 47, '""Subw..."
48,PA,10109,8663,22.732615,57.864180,3.927589,3.621147,3.523513,0.972750,"{'hair stylists': 74, 'hair salons': 293, 'men...","{'breakfast & brunch': 35, 'gluten-free': 5, '...","{'""Pizza Hut""': 24, '""Subway""': 41, '""Taco Bel..."
49,PKN,1,1,24.000000,0.000000,0.000000,3.500000,NaN,NaN,"{'restaurants': 1, 'italian': 1}",{},{}
50,QC,8169,6925,17.918840,32.985678,2.754315,3.680578,3.553859,0.846419,"{'italian': 335, 'restaurants': 4019, 'mexican...","{'arts & entertainment': 21, 'festivals': 1, '...","{'""Tim Hortons""': 36, '""Starbucks""': 41, '""Piz..."
51,RCC,1,1,8.000000,5.000000,0.000000,5.000000,NaN,NaN,"{'coffee & tea': 1, 'event planning & services...",{},{}
52,SC,679,572,15.989691,40.187040,2.659794,3.679196,3.420561,1.050345,"{'nail salons': 24, 'beauty & spas': 62, 'tex-...","{'food': 16, 'american (traditional)': 18, 'co...","{'""Taco Bell""': 2, '""Burger King""': 1, '""Walgr..."
53,SCB,5,5,4.200000,1.000000,0.400000,4.100000,NaN,0.418330,"{'arts & entertainment': 1, 'shopping': 2, 'ar...",{},{}
54,SL,1,1,3.000000,0.000000,0.000000,5.000000,NaN,NaN,"{'automotive': 1, 'body shops': 1}",{},{}
55,ST,11,11,6.000000,2.363636,0.000000,4.136364,NaN,0.951076,"{'german': 2, 'hotels': 2, 'event planning & s...",{},{}
56,STG,1,1,3.000000,0.000000,0.000000,4.500000,NaN,NaN,{'active life': 1},{},{}
57,TAM,1,1,12.000000,44.000000,1.000000,4.000000,NaN,NaN,"{'hair salons': 1, 'beauty & spas': 1}",{},{}
58,VA,1,1,3.000000,2.000000,0.000000,4.000000,NaN,NaN,"{'restaurants': 1, 'sandwiches': 1, 'fast food...",{},"{'""Subway""': 1}"
59,VS,7,7,3.428571,3.428571,0.142857,3.857143,NaN,1.029332,"{'food': 4, 'wineries': 4, 'arts & entertainme...",{},{}
60,VT,2,2,4.000000,2.500000,1.000000,4.250000,NaN,1.060660,"{'bed & breakfast': 1, 'hotels & travel': 1, '...",{},{}
61,WA,1,0,4.000000,8.000000,0.000000,NaN,4.000000,NaN,{},"{'day spas': 1, 'medical spas': 1, 'health & m...",{}
62,WHT,1,1,4.000000,1.000000,1.000000,3.000000,NaN,NaN,"{'pizza': 1, 'italian': 1, 'restaurants': 1}",{},{}
63,WI,4754,3973,23.083088,52.731384,3.349600,3.670526,3.480154,0.973218,"{'tires': 71, 'oil change stations': 63, 'auto...","{'convenience stores': 4, 'desserts': 9, 'food...","{'""Walgreens""': 19, '""The UPS Store""': 7, '""St..."
64,WLN,38,34,4.763158,4.500000,0.605263,3.382353,4.000000,0.978067,"{'hotels': 2, 'hotels & travel': 2, 'event pla...","{'shopping': 2, 'shopping centers': 1, 'bars':...",{}
65,XGL,4,4,12.750000,14.750000,1.000000,3.750000,NaN,0.645497,"{'shopping': 1, 'department stores': 1, 'fashi...",{},{}
66,ZET,1,1,4.000000,21.000000,1.000000,3.500000,NaN,NaN,"{'restaurants': 1, 'chicken wings': 1, 'portug...",{},{}

We can see that there a lot of states with very few businesses, if we take a closer look we can see that some of them were not expected to be in our database. For example, 'NYK' is North Yorkshire in England.

In [16]:
businessPrepped[businessPrepped['state'] == 'NYK']

,business_id,name,state,stars,review_count,is_open,postal_code,categories,checkins,tipcount,open_stars,closed_stars,closed_categories,open_categories,std.dev_stars
1009,qzA-93v2lwf9qnCOPyWiUQ,"""Scarborough Deaf Club""",NYK,4.0,4,1,YO11,Public Services & Government,0.0,0.0,4.0,NaN,,Public Services & Government,4.0
1792,PjzIBRm4pxV_mivCZtmZlw,"""Duke Of Wellington""",NYK,5.0,3,1,YO21,Hotels & Travel;Event Planning & Services;Hotels,0.0,0.0,5.0,NaN,,Hotels & Travel;Event Planning & Services;Hotels,5.0
1841,PX9ceQzCEX5AEn73_UlZ2g,"""the coffee bean""",NYK,4.0,5,1,YO12,Food;Coffee & Tea,0.0,0.0,4.0,NaN,,Food;Coffee & Tea,4.0
5755,Rv7TH2KWTUXpjFPwTTp4Xg,"""Bonnet & Sons""",NYK,3.5,3,1,YO11,Coffee & Tea;Food;Cafes;Restaurants,0.0,1.0,3.5,NaN,,Coffee & Tea;Food;Cafes;Restaurants,3.5
7447,zIYzpJ70IEgQI_kAZF0a4g,"""Nippy Taxis""",NYK,2.5,3,1,YO11,Hotels & Travel;Transportation;Taxis,0.0,0.0,2.5,NaN,,Hotels & Travel;Transportation;Taxis,2.5
8692,qFBEXTIBrAsTsAGaMXOTEw,"""Mainline Menswear""",NYK,3.5,3,1,YO11,Shopping;Men's Clothing;Fashion,0.0,0.0,3.5,NaN,,Shopping;Men's Clothing;Fashion,3.5
9450,Wijq97TO27mhi_OG-xaW-w,"""Golden Grid Restaurant""",NYK,3.5,3,1,YO11,Seafood;Restaurants,1.0,0.0,3.5,NaN,,Seafood;Restaurants,3.5
10126,zadkJh0PvDYhP8sw0E8hLQ,"""Scarborough Railway Station""",NYK,3.0,3,1,YO11,Train Stations;Hotels & Travel,9.0,0.0,3.0,NaN,,Train Stations;Hotels & Travel,3.0
10391,2LdSbmZnJJS5DiwvaAp4Yw,"""Saba Thai Restaurant""",NYK,3.5,6,1,nan,Shopping,0.0,0.0,3.5,NaN,,Shopping,3.5
11981,xcPmvEfUMlgUFfLmrF1tQA,"""Pattisons""",NYK,3.5,3,1,YO12,Shopping;Flowers & Gifts;Florists,0.0,0.0,3.5,NaN,,Shopping;Flowers & Gifts;Florists,3.5
12879,-wx3Z8TQAB8gQKhDPF7CpA,"""Itis Itis""",NYK,2.0,3,1,YO11,Pubs;Bars;Nightlife,0.0,0.0,2.0,NaN,,Pubs;Bars;Nightlife,2.0
14242,qsmphm6eyhGon4pHOcaTCA,"""RockStar Tattoo""",NYK,5.0,7,1,YO12,Beauty & Spas;Piercing;Tattoo,2.0,0.0,5.0,NaN,,Beauty & Spas;Piercing;Tattoo,5.0
16571,R9q2ddnzAvzK4RTBvYoTvQ,"""robin hoods bay to whitby""",NYK,4.0,4,1,nan,Active Life,0.0,0.0,4.0,NaN,,Active Life,4.0
17903,fOKFU8c2DVuKSCQOx8wsFw,"""Robert's Garden Services""",NYK,4.5,3,1,YO11,Gift Shops;Shopping;Home Services;Flowers & Gi...,0.0,0.0,4.5,NaN,,Gift Shops;Shopping;Home Services;Flowers & Gi...,4.5
17974,l2M67j_7O0fOJiE28yaREA,"""Station Tea Rooms""",NYK,4.5,3,1,YO13,Restaurants;Coffee & Tea;Cafes;Food,0.0,0.0,4.5,NaN,,Restaurants;Coffee & Tea;Cafes;Food,4.5
18447,4o0uJ9iuh2D3qiw07rowOg,"""New Tavern""",NYK,3.0,5,1,YO12,Nightlife;Pubs;Bars,0.0,0.0,3.0,NaN,,Nightlife;Pubs;Bars,3.0
20013,3y5kPTXhLlyG8ZDZy37JpQ,"""Beckett's Coffee Shop""",NYK,5.0,5,1,YO21,Food;Restaurants;Patisserie/Cake Shop;Cafes,4.0,1.0,5.0,NaN,,Food;Restaurants;Patisserie/Cake Shop;Cafes,5.0
21562,mOgLOq01wZ8MVAGjY7uYYg,"""The Green Room""",NYK,4.5,3,1,YO11,Restaurants,0.0,0.0,4.5,NaN,,Restaurants,4.5
23625,fspp2HRzbg268BYhbA6OxA,"""McDonald's Restaurants""",NYK,2.5,3,1,YO11,Restaurants;American (Traditional),1.0,0.0,2.5,NaN,,Restaurants;American (Traditional),2.5
25157,TwbTw37N1NluGNthAGl59w,"""Crown Spa Health Club""",NYK,4.5,3,1,YO11,Massage;Beauty & Spas;Swimming Pools;Fitness &...,0.0,0.0,4.5,NaN,,Massage;Beauty & Spas;Swimming Pools;Fitness &...,4.5
25165,U3Ga0n0-JRSslZt_sZfJKQ,"""The Barbican""",NYK,3.5,9,0,YO11,Pubs;Nightlife;Bars,1.0,0.0,NaN,3.5,Pubs;Nightlife;Bars,,3.5
29623,2hIOkf1KqQpQBBr1FHoKuQ,"""Bryherstones Country Inn""",NYK,4.0,3,1,YO13,Nightlife;Bars;Pubs,0.0,0.0,4.0,NaN,,Nightlife;Bars;Pubs,4.0
29718,LYgJqrjvk-Orrd-zfl09iA,"""Small Fry Cafe""",NYK,4.5,3,1,YO11,Cafes;Restaurants;Fish & Chips,0.0,0.0,4.5,NaN,,Cafes;Restaurants;Fish & Chips,4.5
31686,S9Ul4_rNQC7OLufjGZ7_Zg,"""the blue lounge""",NYK,4.0,5,1,YO11,Bars;Nightlife,1.0,0.0,4.0,NaN,,Bars;Nightlife,4.0
31952,9hiZaQ8ZX1sno7wICZ64ZQ,"""Elizabeth Botham & Sons""",NYK,4.5,3,1,YO21,Food;Coffee & Tea;Tea Rooms;Bakeries,0.0,0.0,4.5,NaN,,Food;Coffee & Tea;Tea Rooms;Bakeries,4.5
33061,GgPjSs2eBy6gpv2b-e6OrA,"""Subway""",NYK,3.0,4,1,YO11,Food;Fast Food;Food Delivery Services;Restaurants,0.0,0.0,3.0,NaN,,Food;Fast Food;Food Delivery Services;Restaurants,3.0
33603,FWVNhF2Efq0kPA8sX6ahwg,"""Irton Garden Centre""",NYK,2.5,3,1,YO12,Nurseries & Gardening;Shopping;Home & Garden,0.0,0.0,2.5,NaN,,Nurseries & Gardening;Shopping;Home & Garden,2.5
35425,YWH-yuxxoygTCMG5T_dNxw,"""Roasters""",NYK,2.0,3,1,YO11,Coffee & Tea;Food;Restaurants,0.0,0.0,2.0,NaN,,Coffee & Tea;Food;Restaurants,2.0
37216,HCsU0lZBJuZowEtNGV23fA,"""Royal Hotel""",NYK,3.0,5,1,YO11,Venues & Event Spaces;Hotels & Travel;Event Pl...,0.0,0.0,3.0,NaN,,Venues & Event Spaces;Hotels & Travel;Event Pl...,3.0
38282,OP8P2ipfWaVRQL-XPQNrBA,"""The Denison Arms""",NYK,4.0,8,1,YO13,Bars;Pubs;Nightlife,2.0,0.0,4.0,NaN,,Bars;Pubs;Nightlife,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141132,McRRWZwv-ARrlOdFHZKSzw,"""Boro Cars""",NYK,5.0,3,1,YO11,Taxis;Transportation;Hotels & Travel,0.0,0.0,5.0,NaN,,Taxis;Transportation;Hotels & Travel,5.0
141693,B7SPWN00xDHC3Uo9ASjBDQ,"""Valley Bar""",NYK,5.0,5,1,YO11,Nightlife;Bars;Pubs,1.0,0.0,5.0,NaN,,Nightlife;Bars;Pubs,5.0
143306,GYAMJdFczYZj61BO34VNWA,"""Whitby Glass""",NYK,5.0,4,1,YO22,Home & Garden;Shopping;Home Decor;Arts & Crafts,0.0,0.0,5.0,NaN,,Home & Garden;Shopping;Home Decor;Arts & Crafts,5.0
144300,65lsX6xUM8zDG6YKoNn5hA,"""Hayburn Wyke""",NYK,4.0,4,1,YO13,Nightlife;Pubs;Bars,0.0,0.0,4.0,NaN,,Nightlife;Pubs;Bars,4.0
144443,DeGW_4t7zco50EWiZnKJ9g,"""Newcastle Packet Inn""",NYK,1.5,3,1,YO11,Nightlife;Pubs;Bars,1.0,0.0,1.5,NaN,,Nightlife;Pubs;Bars,1.5
144588,RUwIL0j-KkNXPh7On52eQw,"""Bagdale Hall Hotel & Restaurant""",NYK,4.0,4,1,YO21,Hotels & Travel;Hotels;Event Planning & Services,0.0,0.0,4.0,NaN,,Hotels & Travel;Hotels;Event Planning & Services,4.0
146916,9i4ftKXTyyzZqjXxd4E77w,"""Sherlock's Coffee House""",NYK,4.5,4,1,YO21,Food;Desserts;Coffee & Tea,15.0,2.0,4.5,NaN,,Food;Desserts;Coffee & Tea,4.5
151441,y0m8WqajagGgZXnMEhMzfQ,"""jeremys""",NYK,5.0,3,1,YO12,Restaurants,0.0,0.0,5.0,NaN,,Restaurants,5.0
152935,Fud53QjU8oIrChEtGUqi8g,"""Coopland & Son Scarborough""",NYK,3.0,3,1,YO11,Bakeries;Food,1.0,0.0,3.0,NaN,,Bakeries;Food,3.0
154558,y-a_kdw5pRKTvV0dZjqB_w,"""Grand Hotel""",NYK,1.5,3,1,YO11,Event Planning & Services;Hotels;Hotels & Travel,2.0,0.0,1.5,NaN,,Event Planning & Services;Hotels;Hotels & Travel,1.5
157389,p17Bv8y9vNjtgaO5ysR1zg,"""The Lotus Beauty""",NYK,5.0,3,1,YO12,Waxing;Health & Medical;Skin Care;Hair Removal...,0.0,0.0,5.0,NaN,,Waxing;Health & Medical;Skin Care;Hair Removal...,5.0
158282,J-9XxZMId2Wwban4h2GOCQ,"""Anvil Inn Sawdon Near Scarborough""",NYK,3.0,3,1,YO13,Food,0.0,0.0,3.0,NaN,,Food,3.0
158551,Dtl0QeYxKOf14yAPMhoi8w,"""Walker Landray""",NYK,1.0,3,1,YO11,Home Services;Real Estate Services;Real Estate,0.0,0.0,1.0,NaN,,Home Services;Real Estate Services;Real Estate,1.0
159102,_wDfZSX_Rd1aicN0s6Q6UQ,"""catalogue bargain shop""",NYK,4.5,4,1,YO11,Discount Store;Shopping;Hobby Shops,0.0,0.0,4.5,NaN,,Discount Store;Shopping;Hobby Shops,4.5
159537,RFQaVHkKsOGQXsbISDl02A,"""Gill Bradley Vehicle Hire""",NYK,5.0,3,1,YO12,Hotels & Travel;Car Rental;Transportation,0.0,0.0,5.0,NaN,,Hotels & Travel;Car Rental;Transportation,5.0
159581,_Wq-Ei5VKopb--qBHltLjA,"""Magpie Cafe""",NYK,4.5,37,1,YO21,Coffee & Tea;Fish & Chips;Restaurants;Food;Sea...,15.0,1.0,4.5,NaN,,Coffee & Tea;Fish & Chips;Restaurants;Food;Sea...,4.5
161725,XDCi85OYQd1IHMmsHGzyKg,"""Alleyways Fish & Chips""",NYK,2.0,3,1,YO12,Fish & Chips;Restaurants,0.0,0.0,2.0,NaN,,Fish & Chips;Restaurants,2.0
164365,-aHY5rfLcL3DGAR5s1KpwQ,"""Sea Life Centre""",NYK,3.5,3,1,YO11,Animal Shelters;Pets,0.0,0.0,3.5,NaN,,Animal Shelters;Pets,3.5
164379,mMLH2s8vU9xu97HU6r0xsw,"""Justin Chocolatier""",NYK,5.0,5,1,YO22,Candy Stores;Specialty Food;Food;Chocolatiers ...,0.0,0.0,5.0,NaN,,Candy Stores;Specialty Food;Food;Chocolatiers ...,5.0
167043,dYo5kYQg4PMC6a-Qy3gS7Q,"""Crown Spa Hotel""",NYK,4.0,3,1,YO11,Hotels & Travel;Hotels;Event Planning & Services,9.0,1.0,4.0,NaN,,Hotels & Travel;Hotels;Event Planning & Services,4.0
167351,3RgEvaRD3ANbgXiwpybovg,"""Da Claudio""",NYK,3.5,5,1,YO11,Italian;Restaurants,0.0,0.0,3.5,NaN,,Italian;Restaurants,3.5
167702,7avy4RruWTgS0cA6Snkq-Q,"""Olde Traditional Blandscliffe Cafe""",NYK,1.5,3,1,YO11,Event Planning & Services;Hotels;Cafes;Restaur...,0.0,0.0,1.5,NaN,,Event Planning & Services;Hotels;Cafes;Restaur...,1.5
167939,6sM44QYgFAnpvPHdtJ3smA,"""Doodlepots""",NYK,3.5,3,1,YO21,Arts & Entertainment;Arts & Crafts;Shopping;Ki...,0.0,0.0,3.5,NaN,,Arts & Entertainment;Arts & Crafts;Shopping;Ki...,3.5
168200,lwyiSy-d04vbSiWjPfRNNQ,"""Capplemans Fish & Chips""",NYK,4.0,6,1,YO12,Restaurants;Fish & Chips,0.0,0.0,4.0,NaN,,Restaurants;Fish & Chips,4.0
168300,dBAUTAHpsejsMybVyg9itw,"""Whale Bone Arch""",NYK,3.5,3,1,YO21,Public Services & Government;Landmarks & Histo...,2.0,0.0,3.5,NaN,,Public Services & Government;Landmarks & Histo...,3.5
168801,28LQv_oSDEGtlRWZnLnnDQ,"""La Plaza Pizzeria""",NYK,4.0,4,1,YO12,Pizza;Restaurants,0.0,0.0,4.0,NaN,,Pizza;Restaurants,4.0
171148,PCgUcbYxCH6afJsYut1lIA,"""Venus Trading""",NYK,4.0,5,1,YO22,Flowers & Gifts;Shopping;Gift Shops,0.0,0.0,4.0,NaN,,Flowers & Gifts;Shopping;Gift Shops,4.0
171988,0VDb_KdLgsWbIV-pvwGY_w,"""Scarborough Hungry Horse""",NYK,1.5,4,0,YO11,Nightlife;Bars;Food;Pubs;Restaurants,0.0,0.0,NaN,1.5,Nightlife;Bars;Food;Pubs;Restaurants,,1.5
173095,13hijoKn15lIAOMTuLETHA,"""Resolution Hotel""",NYK,3.5,3,1,YO21,Hotels;Event Planning & Services;Hotels & Travel,0.0,0.0,3.5,NaN,,Hotels;Event Planning & Services;Hotels & Travel,3.5
173513,CTVzHfy6gtXrD-UzKKSB2A,"""Whitby Folk Weekend""",NYK,4.5,3,1,YO21,Shopping;Music & DVDs;Festivals;Arts & Enterta...,0.0,0.0,4.5,NaN,,Shopping;Music & DVDs;Festivals;Arts & Enterta...,4.5

On investigation of 'NYK' we can see that the postal codes cover only a small region of the NYK area. As a result of this coupled with the overall small number of businesses, we do not feel this is representative of a state.

<p>We'll assume a similar situation for most states with low numbers of businesses, to avoid these states we'll focus our state study on the US and Canada</p>

In [20]:
stateProfileDf['%closed'] = (stateProfileDf['business_id'] - stateProfileDf['is_open']) / stateProfileDf['business_id']

We will now alter the column titles to accurately reflect their contents. We will also rearrange the columns as desired.

In [21]:
stateProfileDf.columns=['state','num_businesses','num_open','num_reviews','num_checkins','num_tips','open_stars','closed_stars',\
                        'std.dev_stars','open_categories','closed_categories','chains','%closed']

#Now Rearrange Columns
stateProfileDf = stateProfileDf[['state', 'num_businesses','num_open','%closed','num_reviews','num_checkins','num_tips','open_stars','closed_stars',\
                             'std.dev_stars','open_categories','closed_categories','chains']]

stateProfileDf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 13 columns):
state                67 non-null object
num_businesses       67 non-null int64
num_open             67 non-null int64
%closed              67 non-null float64
num_reviews          67 non-null float64
num_checkins         67 non-null float64
num_tips             67 non-null float64
open_stars           65 non-null float64
closed_stars         27 non-null float64
std.dev_stars        40 non-null float64
open_categories      67 non-null object
closed_categories    67 non-null object
chains               67 non-null object
dtypes: float64(7), int64(2), object(4)
memory usage: 6.9+ KB

In [27]:
stateProfileSelection = stateProfileDf.sort_values('num_businesses', ascending = False).head(12)

In [28]:
stateProfileSelection.to_pickle('../../data/analysis/stateProfiles.pkl')
stateProfileSelection.to_csv('../../data/analysis/stateProfiles.csv')